#side {
	float: left;
	width: 8em;
	background: #141;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

#side a {
	color: #bfb;
	font-size: small;
}

#main {
	margin-left: 9em;
	background: white;
	padding-top: 4ex;
	padding-left: 2em;
}

#columns {
	background: #141;
}

#banner {
	background: #9c9;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	text-align: center;	
}
