#side {
	float: left;
	width: 8em;
	background: #141;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

#side a {
	color: #bfb;
	font-size: small;
}

#main {
	margin-left: 9em;
	background: white;
	padding-top: 4ex;
	padding-left: 2em;
}

#columns {
	background: #141;
}

#banner {
	background: #9c9;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	text-align: center;	
}

#side ul {
  margin: 0;
  padding: 0;
}

#side ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#side ul li a {
  padding: 0 5px;
  font-weight: bold;
}

#side ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}


#box-table-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#box-table-b td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}


