<% @gunplatypedescription.each_with_index do |gunplatypedescr,index|%>
	<div id="<%=gunplatypedescr['title']%>">
		<%= render :partial => "gunpla", :locals => {
		:gunplas => @gunplatypelist[index] ,
		:gunplatype => gunplatypedescr
		} %>
	</div>
<% end %>

