<table id="box-table-a">
	<thead>
		<tr>
			<th scope="col">Codice Prodotto</th>
		</tr>
	</thead>
	<tr>
		<td><%= @readyproduct[2] %></td>
		<td><%= @readyproduct[8] %></td>
		<td><%= @readyproduct[18] %></td>
		<td><%= @readyproduct[13] %></td>
	</tr>
</table>