<table id="box-table-a">
	<thead>
		<tr>
			<th scope="col">Codice Prodotto</th>
			<th scope="col">Description</th>
			<th scope="col">JanCode</th>
		</tr>
	</thead>
	<tr>
		<td><%= @gunpla.datahlj.code %></td>
		<td><%= @gunpla.datahlj.description %></td>
		<td><%= @gunpla.datahlj.jancode %></td>
	</tr>
</table>